@font-face {
    font-family: manrope;
    src: url(https://fonts.google.com/download?family=Manrope);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: manrope;
}

body {
    background: #fff;
    min-height: 200vh;
}

html {
    scroll-behavior: smooth;
}

/* ############################ HEADER ############################ */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
}

header.sticky {
    padding: 15px 100px;
    background: #212326;
}

header .logo {
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: #42474c;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    margin-left: 70px;
}

header.sticky .logo {
    color: #fff;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    padding: 10px 25px;
    margin: 0 15px;
    text-decoration: none;
    color: #42474c;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header.sticky ul li a {
    color: #fff;
}

.container {
    margin: 0 420px;
    text-align: center;
}

.container .line-heading {
    border: none;
    height: 2px;
    background-color: #212326;
    margin-top: 150px;
    margin-bottom: 120px;
}
/* ### SUBHEADING ### */

.container .subheading {
    color: #00ba34;
    font-weight: bold;
    font-size: 2.4em;
    letter-spacing: 1px;
}

.container .subtitle {
    color: #888171;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
    letter-spacing: 1px;
}

/* ############################ BANNER ############################ */
.banner {
    position: relative;
    margin: 400px 0 600px 0;
    font-size: 5em;
}

.banner span {
    text-transform: uppercase;
}

.banner .text1,
.text4 {
    color: #00ba34;
    font-weight: bold;
}

.banner .text2,
.text3 {
    color: #42474c;
}

/* ############################ ABOUT ############################ */
#photo {
    max-height: 250px;
    max-width: 250px;
    margin-right: 30px;
    border-radius: 50%;
}

.about-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 115px;
}

.about-container img {
    position: relative;
}

.about-container ul {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.about-container ul li {
    position: relative;
    list-style: none;
}

#parent {
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-size: 2.4em;
    color: #42474c;
    position: relative;
}

/* Animation */
#parent {
    animation: animated-text 700ms steps(30, end) 1s 1 normal both;
}

/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 180px;
    }
}

.about-container .about-text {
    color: #888171;
}

.about {
    margin-top: 100px;
}

.about .about-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.about .about-btn li {
    position: relative;
    list-style: none;
    margin: 0 50px;
}

.button {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
    color: #42474c;
    letter-spacing: 1px;
    border-radius: 10px;
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25) inset;
}

.button .text {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-weight: bold;
}

/* ############################ MY SKILLS ############################ */
.fav-tech {
    width: 100%;
    margin-top: 100px;
    text-align: left;
}

.fav-tech h2 {
    font-size: 1.6em;
    color: #42474c;
    letter-spacing: 1px;
}

.fav-tech ul {
    position: relative;
    margin-top: 20px;
    width: fit-content;
    display: flex;
    justify-content: left;
    align-items: left;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgb(155, 155, 155) inset;
}

.fav-tech li {
    position: relative;
    list-style: none;
    margin-right: 10px;
}

.fav-tech ul li img {
    margin-top: 10px;
    padding: 20px;
}

.skill-list ul {
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    align-items: left;
}

.skill-list li {
    position: relative;
    list-style: none;
    margin-right: 30px;
}

.skill-list img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}

.skill-list h3 {
    margin-bottom: 5px;
    color: #42474c;
    font-size: 1.3em;
    letter-spacing: 1px;
}

.skill-list p {
    color: #888171;
    max-width: 300px;
}

/* ############################ MY PROJECTS ############################ */
.projects .card {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.projects .card .img-project {
    position: relative;
    object-fit: contain;
    width: 40%;
    max-width: 500px;
    max-height: 80%;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.projects .card-content {
    position: relative;
    text-align: left;
}

.card-content ul {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 20px 0px;
    justify-content: flex-start;
    text-align: left;
}

.card-content ul li {
    position: relative;
    list-style: none;
    margin-right: 15px;
    padding: 12px;
    box-shadow: 2px 2px 7px #b4b4b4 inset;
    border-radius: 10px;
    color: #42474c;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.card-content h2 {
    color: #42474c;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
}

.card-content p {
    width: 100%;
    height: 175px;
    padding: 20px;
    box-shadow: 3px 3px 7px #b4b4b4 inset;
    border-radius: 10px;
    color: #888171;
}

.card-content .button {
    margin-top: 25px;
}

.button-projects {
    position: relative;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
    color: #42474c;
    letter-spacing: 1px;
    border-radius: 10px;
}

.button-projects p {
    display: flex;
    margin-right: 20px;
    color: #888171;
    font-weight: 500;
    font-size: 20px;
    line-height: 44px;
}

/* ############################ CONTACT ############################ */
.msg-email {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg-email input,
textarea {
    width: 100%;
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
    font-size: medium;
    color: #42474c;
    box-shadow: 2px 2px 7px #b4b4b4 inset;
}

.msg-email #msg {
    height: 200px;
}

.msg-email .btn-send {
    position: relative;
    color: #42474c;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    padding: 15px 50px;
    margin-top: 20px;
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25) inset;
}

.line-or {
    display: flex;
    margin: 80px 0 35px 0;
    height: 30px;
    align-items: center;
}

.line-or hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #212326;
}

.line-or p {
    font-size: 1.8em;
    color: #888171;
    padding: 0 40px;
}

.contact h2 {
    font-size: 1.6em;
    color: #42474c;
    letter-spacing: 2px;
}

.contact ul {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact ul li {
    position: relative;
    list-style: none;
}

.contact ul li a {
    position: relative;
    margin: 0 30px;
}

/* ############################ FOOTER ############################ */

.line-footer {
    border: none;
    height: 2px;
    background-color: #212326;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer {
    letter-spacing: 2px;
    font-weight: 500px;
}

footer ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    position: relative;
    list-style: none;
}

footer ul li a {
    position: relative;
    margin: 0 50px;
    font-weight: bold;
    text-decoration: none;
    color: #42474c;
}

footer p {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #42474c;
}
