@font-face {
    font-family: manrope;
    src: url(https://fonts.google.com/download?family=Manrope);
}

/*** Light Mode Theme ***/
:root,
[data-theme="default"] {
    --body-bg-color: #fff;
    --navbar-bg-color: #212326;
    --navbar-line-color: #fff;
    --navbar-btn-bg-color: #212326;
    --navbar-btn-bg-hover-color: #fff;
    --navbar-btn-text-nonsticky-nonhover-color: #212326;
    --navbar-btn-text-nonsticky-hover-color: #a1a1a1;
    --navbar-btn-text-sticky-nonhover-color: #fff;
    --navbar-btn-text-sticky-hover-color: #ccc;
    --logo-text-focus-color: #00ba34;
    --logo-text-nonfocus-color: #42474c;
    --section-line-color: #212326;
    --section-title-color: #00ba34;
    --section-subtitle-color: #888171;
    --hello-text-color: #42474c;
    --text-color: #888171;
    --btn-bg-color: #fff;
    --btn-hover-bg-color: #ececec;
    --btn-text-color: #42474c;
    --header-color: #42474c;
    --tag-bg-color: #fff;
    --tag-text-color: #42474c;
    --form-bg-color: #fff;
    --column-text-color: #888171;
    --more-projects-color: #888171;
    --form-text-color: #888171;
    --contact-line-color: #212326;
    --contact-or-color: #888171;
    --footer-btn-text-color: #42474c;
    --footer-btn-text-hover-color: #00ba34;
    --footer-text-color: #42474c;
}

/* Dark Mode Theme */
[data-theme="dark"] {
    --body-bg-color: #201a30;
    --navbar-bg-color: #201a30;
    --navbar-line-color: #0d4a56;
    --navbar-btn-bg-color: #201a30;
    --navbar-btn-bg-hover-color: #0df6e3;
    --navbar-btn-text-nonsticky-nonhover-color: #0df6e3;
    --navbar-btn-text-nonsticky-hover-color: #1f98af;
    --navbar-btn-text-sticky-nonhover-color: #0df6e3;
    --navbar-btn-text-sticky-hover-color: #1f98af;
    --logo-text-focus-color: #0df6e3;
    --logo-text-nonfocus-color: #f3f0f5;
    --section-line-color: #0df6e3;
    --section-title-color: #0df6e3;
    --section-subtitle-color: #c8c5ce;
    --hello-text-color: #f3f0f5;
    --text-color: #948fa4;
    --btn-bg-color: #0df6e3;
    --btn-hover-bg-color: #228179;
    --btn-text-color: #0d4a56;
    --header-color: #f3f0f5;
    --tag-bg-color: #0d4a56;
    --tag-text-color: #0df6e3;
    --form-bg-color: #39304d;
    --column-text-color: #d3cdd8;
    --more-projects-color: #f3f0f5;
    --form-text-color: #867e93;
    --contact-line-color: #f3f0f5;
    --contact-or-color: #f3f0f5;
    --footer-btn-text-color: #0df6e3;
    --footer-btn-text-hover-color: #1f98af;
    --footer-text-color: #f3f0f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: manrope;
}

body {
    background: var(--body-bg-color);
    min-height: 200vh;
    font-size: 100%;
    transition: 0.6s;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 20vw;
    text-align: center;
}

.section {
    margin-top: 150px;
}

.section hr {
    border: none;
    height: 2px;
}

.section-line {
    background-color: var(--section-line-color);
    margin-bottom: 120px;
}

.section .section-title {
    margin-bottom: 100px;
}

.section h1 {
    color: var(--section-title-color);
    font-weight: bold;
    font-size: 2.4em;
    letter-spacing: 1px;
}

.section .subtitle {
    margin-top: 10px;
    color: var(--section-subtitle-color);
    letter-spacing: 1px;
    text-align: center;
}

.horz-list {
    position: relative;
    display: flex;
}

.horz-list li {
    position: relative;
    list-style: none;
}

.horz-list li a {
    position: relative;
    text-decoration: none;
}

.btn {
    width: 14vw;
    height: 6.5vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vh 2.6vw;
    color: var(--btn-text-color);
    font-size: 0.8vw;
    font-weight: bold;
    background-color: var(--btn-bg-color);
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25) inset;
}

.btn:hover {
    background-color: var(--btn-hover-bg-color);
}

.btn:active {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.btn img {
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 20px;
}

.reveal {
    position: relative;
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    opacity: 1;
}

/* ############################ NAVBAR ############################ */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 5vw;
    z-index: 1;
    border-bottom: var(--navbar-line-color) solid 2px;
}

header.sticky {
    padding: 20px 5vw;
    background: var(--navbar-bg-color);
}

header.sticky .logo p {
    color: var(--navbar-btn-text-sticky-nonhover-color);
}

header .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 6.5vw;
}

header .logo p {
    font-weight: 700;
    color: var(--navbar-btn-text-nonsticky-nonhover-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 1vw;
    transition: 0.6s;
}

header .logo img {
    margin: auto;
    transition: 0.6s;
}

header ul {
    margin-right: 0.5vw;
}

header ul li a {
    padding: 10px 1.5vw;
    margin: 0 20px;
    color: var(--navbar-btn-text-nonsticky-nonhover-color);
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

header ul li a:hover {
    color: var(--navbar-btn-text-nonsticky-hover-color);
    transition: 0.1s;
}

header.sticky ul li a:hover {
    color: var(--navbar-btn-text-sticky-hover-color);
    transition: 0.1s;
}

#toggler-theme:hover {
    cursor: pointer;
}

header ul li a #toggler-theme {
    max-width: 25px;
    max-height: 25px;
    transition: 0.6s;
    border-radius: 10px;
}

header.sticky ul li a {
    color: var(--navbar-btn-text-sticky-nonhover-color);
}

header.sticky ul li a #toggler-theme {
    max-width: 25px;
    max-height: 25px;
    border-radius: 10px;
}

/* ############################ LANDING PAGE ############################ */

.banner {
    position: relative;
    margin: 45vh 0 55.55vh 0;
    font-size: 5em;
}

.banner span {
    text-transform: uppercase;
}

.banner .text1,
.text4 {
    color: var(--logo-text-focus-color);
    font-weight: bold;
}

.banner .text2,
.text3 {
    color: var(--logo-text-nonfocus-color);
}

/* ############################ ABOUT SECTION ############################ */
.section .about .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.5vw;
}

.section .about .content img {
    position: relative;
    max-height: 13vw;
    max-width: 13vw;
    margin-right: 2vw;
    border-radius: 50%;
}

.section .about .content ul {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.section .about .content ul li {
    position: relative;
    list-style: none;
}

.section .about .content ul li .greet {
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-size: 2.4em;
    color: var(--hello-text-color);
    position: relative;
}

/* Animation */
.section .about .content ul li .greet.hello {
    animation: animated-text 400ms steps(30, end) 0.5s 1 normal both;
}

/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 180px;
    }
}

.section .about .content ul li p {
    letter-spacing: 1px;
    line-height: 23px;
    color: var(--text-color);
}

.section .about .horz-list {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.section .about .horz-list li {
    margin: 0 2.6vw;
}

/* ############################ MY SKILLS SECTION ############################ */

.skills .content {
    width: 100%;
    margin-top: 20px;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    align-items: left;
}

.skills .content li {
    margin-right: 2.5vw;
}

.skills .content img {
    width: 5.2vw;
    height: 5.2vw;
    object-fit: contain;
    margin-bottom: 20px;
}

.skills .content h3 {
    margin-bottom: 5px;
    color: var(--header-color);
    font-size: 1.3em;
    letter-spacing: 1px;
}

.skills .content p {
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: 23px;
    color: var(--text-color);
    max-width: 300px;
}

.skills h2 {
    margin-top: 100px;
    font-size: 1.6em;
    text-align: left;
    color: var(--header-color);
    letter-spacing: 1px;
}

.fav-tech {
    margin-top: 20px;
    width: fit-content;
    justify-content: left;
    align-items: left;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgb(155, 155, 155) inset;
}

.fav-tech li {
    margin: 15px 15px;
}

.fav-tech li img {
    padding: 10px;
    border-radius: 10px;
}

.fav-tech li img:hover {
    background-color: var(--btn-hover-bg-color);
}

/* ############################ MY PROJECTS SECTION ############################ */

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.card .img-project {
    position: relative;
    object-fit: contain;
    width: 26vw;
    height: 26vw;
    padding: 10px;
    box-shadow: 0px 0px 4px var(--section-line-color);
}

.card-content {
    position: relative;
    text-align: left;
    width: 30vw;
}

.card-content h2 {
    color: var(--header-color);
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 44px;
}

.card-content .card-text {
    width: 100%;
    height: 18vh;
    padding: 1vw;
    box-shadow: 3px 3px 7px #b4b4b4 inset;
    border-radius: 10px;
    font-size: 0.9vw;
    color: var(--column-text-color);
    background-color: var(--form-bg-color);
}

.card-content .btn {
    margin-top: 25px;
}

.card-content ul {
    flex-direction: row;
    margin: 10px 0px 20px 0px;
    justify-content: flex-start;
    text-align: left;
}

.card-content ul li {
    margin-right: 15px;
    padding: 0.6vw;
    box-shadow: 2px 2px 7px #b4b4b4 inset;
    border-radius: 10px;
    color: var(--tag-text-color);
    background-color: var(--tag-bg-color);
    font-weight: 600;
    font-size: 0.8vw;
    line-height: 1.3em;
}

.btn-proj {
    position: relative;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 15px 2.6vw;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 10px;
}

.btn-proj p {
    display: flex;
    margin-right: 20px;
    color: var(--more-projects-color);
    font-weight: 500;
    font-size: 1.2em;
    line-height: 44px;
}

.btn-proj:hover {
    font-size: 1.5em;
    transition: 0.3s;
}

/* ############################ MY CONTACT SECTION ############################ */

.contact ul {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.contact ul li a {
    margin: 0 1.5vw;
}

.contact ul li a img {
    object-fit: contain;
    padding: 15px;
    border-radius: 10px;
}

.contact ul li a img:hover {
    background-color: var(--btn-hover-bg-color);
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25) inset;
}

.contact ul li a img:active {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.contact h2 {
    font-size: 1.6em;
    color: var(--header-color);
    letter-spacing: 2px;
}

.msg-email {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg-email input,
textarea {
    width: 100%;
    padding: 1.2vw 30px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
    font-size: 0.9vw;
    color: var(--form-text-color);
    background-color: var(--form-bg-color);
    box-shadow: 2px 2px 7px #b4b4b4 inset;
}

.msg-email #msg {
    height: 200px;
}

.msg-email .btn {
    justify-content: center;
    padding: 0.5vh 2.6vw;
    margin-top: 20px;
}

.line-or {
    display: flex;
    margin: 100px 0 35px 0;
    height: 30px;
    align-items: center;
}

.line-or hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: var(--contact-line-color);
}

.line-or p {
    font-size: 1.8em;
    color: var(--contact-or-color);
    padding: 0 40px;
}

/* ############################ FOOTER SECTION ############################ */

footer hr {
    border: none;
    height: 2px;
    background-color: var(--section-line-color);
    margin-top: 100px;
    margin-bottom: 100px;
}

footer {
    letter-spacing: 2px;
    font-weight: 500;
}

footer ul {
    justify-content: center;
    align-items: center;
}

footer ul li a {
    margin: 0 50px;
    font-weight: bold;
    color: var(--footer-btn-text-color);
}

footer ul li a:hover {
    color: var(--footer-btn-text-hover-color);
}

footer p {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    color: var(--footer-text-color);
}
